# Streamlit core library
streamlit

# Authentication & Security
bcrypt

# Date & Time utilities
python-dateutil

# Data Handling
pandas

# AWS SDK for Python (Used for S3 integration)
boto3
botocore

# Streamlit UI Components
streamlit-option-menu
requests

# File Handling & Utilities
tempfile
json
os
logging
datetime
time
traceback
